body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: astonpoliz;
    src: url(../fonts/Astonpoliz/Astonpoliz.otf),url(../fonts/Astonpoliz/Astonpoliz.ttf);
}
*{
    list-style: none;
    text-decoration: none;
    font-family: astonpoliz;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background: blue;
    color: #fff;
    font-size: 20px;
    /* text-align: center; */
    margin: 10px;
    padding: 20px 0;
}
h2{
    margin: 0;
}
@media only screen and (max-width:600px){
    .table{
        width: 90%;
    }
}